<h1>Edit</h1>

<form ng-submit="edit.update()">
  <div class=" ">
    <input class=" " type="text" ng-model="usersEdit.user.name" value="{{ usersEdit.user.name }}">
  </div>

  <div ng-if="usersEdit.user.is_bar === 'yes'" class="">
  <div class=" ">
    <input class=" " type="text" ng-model="usersEdit.user.bar_size" placeholder="Size of Venue">
  </div>
  <div class=" ">
    <input class=" " type="text" ng-model="usersEdit.user.bar_location" placeholder="Venue Location">
  </div>
  <div class=" ">
    <input class=" " type="text" ng-model="usersEdit.user.bar_image" placeholder="Image">
  </div>
  <div class=" ">
    <input class=" " type="text" ng-model="usersEdit.user.bar_telephone" placeholder="Venue Contact Number">
  </div>
    </div>

  <div ng-if="usersEdit.user.is_bar === 'no'" class="">
    <div class=" ">
      <input class=" " type="text" ng-model="usersEdit.user.band_telephone" placeholder="Contact Number">
    </div>
    <div class=" ">
      <input class=" " type="text" ng-model="usersEdit.user.artist_id" placeholder="Artist Name (spotify applicable)">
    </div>
    </div>
    <input class=" " type="submit" value="Submit" />
</form>
