<h1>{{ usersProfile.user.name }}'s Profile</h1>
<hr>

<!-- .................BANDS'S PROFILE...................... -->

<div ng-if="usersProfile.user.is_bar === 'no'">
  <div class="columns seven">

    <div class="right-column">
      <img class="spotify-image" src="{{ usersProfile.spotifyInfo.images[1].url}}" width="200px">
      <div id="soundcloud" width="200px">
      </div>
    </div>

    <label>Genre:</label>
    <ul>
      <li>{{usersProfile.genre1}}</li>
      <li>{{usersProfile.genre2}}</li>
    </ul>
    <hr>
    <div>
      <ul>
        <li>Number of Upcoming Events: {{usersProfile.user.my_accepted_requests.length }}</li>
        <h6>Upcoming Events:</h6>
        <li ng-repeat="accepted in usersProfile.user.my_accepted_requests">
          {{accepted.bar_name}}
        </li>
        <li>
          Pending Requests:{{usersProfile.user.my_pending_requests.length}}
        </li>
        <li>
          Requests Remaining:{{5-usersProfile.user.my_pending_requests.length}}
        </li>
        <h6>You are waiting to hear back from:</h6>
        <li ng-repeat="pending in usersProfile.user.my_pending_requests">
          <a ui-sref="show({id: pending.bar_id})">{{pending.bar_name}}</a>
          <button ng-click="usersProfile.deleteRequest({id: pending.id})">X</button>
        </li>

        <li class="with-bullet" ng-repeat="rejected in usersProfile.user.my_rejected_requests">
          {{rejected.bar_name}}
        </li>

        <div ng-if="usersProfile.user.my_rejected_requests.length === '1'">
          <h6>have declined your requests.</h6>
        </div>

        <div ng-if="usersProfile.user.my_rejected_requests.length > '0'">
          <h6>has declined your request.</h6>
        </div>

      </ul>
    </div>
    <button class="delete" type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
    <button class="edit" type="button" ui-sref="edit({id: user.id})">Edit My Account</button>
  </div>

  <div class="columns four right-side">
    <iframe id="spotifyWidget" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>


<!-- ..................BAR'S PROFILE....................... -->

<div ng-if="usersProfile.user.is_bar === 'yes'">
  <button class="right" type="button" ui-sref="new({id: usersProfile.user.id})">Add a Time Slot</button>

  <h3>Upcoming Events</h3>
  <div ng-repeat="event in usersProfile.events | orderBy: '-date':true" class="row venue-profile">
    <ul ng-if="event.is_expired === 'no'">
      <!-- {{ event.date }} -->
      <li>
        {{ event.date_string }} you have {{ event.accepted_requests.length }} artist's playing.
        <li>Description:     {{ event.description }}</li>
        <li>Slots Remaining: {{ event.slots_remaining }}</li>
      </li>

      <li>
        Accepted Requests: {{ event.accepted_requests.length }}
      </li>
      <li>
        Rejected Requests: {{ event.rejected_requests.length }}
      </li>
      <li ng-if="event.pending_requests.length !== 0">Pending Requests from:  </li>
      <ul ng-repeat="pending in event.pending_requests">
        <li>
          <div class="requests">
            <div ng-if="pending.status === 'pending'">
              By Artist: <a ui-sref="show({id: pending.user_id })">{{ pending.band_name }}</a>
              <div class="venue-requests">
                <button type="button" class="accept" ng-click="usersProfile.acceptRequest(pending)">Accept</button>
                <button type="button" class="reject" ng-click="usersProfile.rejectRequest(pending)">Reject</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ul>

  </div>
  <!-- {{ event.number_of_pending_requests }} -->

  <div ng-repeat="event in usersProfile.user.events">
    <ul ng-if="event.is_expired === 'yes'">
      <h5>Past Events</h5>
      <li>Date:              {{ event.date }}</li>
      <li>Slots remaining:   {{ event.slots_remaining }}</li>
      <li>Pending Requests:  {{ event.pending_requests.length }}</li>
      <li>Accepted Requests: {{ event.accepted_requests.length }}</li>
      <li>Rejected Requests: {{ event.rejected_requests.length }}</li>
    </ul>
  </div>
  <button class="delete" type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
  <button class="edit" type="button" ui-sref="edit({id: usersProfile.user.id})">Edit My Account</button>
</div>



<!-- <button type="button" ui-sref="edit({id: usersProfile.user.id})">Edit My Account</button> -->
