<h1>My Profile</h1>
<div>My name is {{ usersProfile.user.name }}</div>

<div ng-if="usersProfile.user.is_bar === 'no'">
  I am a band
  <button type="button" ui-sref="requestsIndex({id: usersProfile.user.id})">See My Requests</button>
  <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

<div ng-if="usersProfile.user.is_bar === 'yes'">
  I am a bar
  <button type="button" ui-sref="new({id: usersProfile.user.id})">Add a Time Slot</button>
</div>


<button type="button" ui-sref="edit({id: usersProfile.user.id})">Edit My Account</button>
<button type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
