<h1>Add an Upcoming Event</h1>
<div class="event-new-title four columns">
  <h5>Each time slot represents one hour</h5>
  <h5>Please indicate the starting time</h5>
<div/>

<form class="event-form six columns" ng-submit="eventsNew.create()">
  <label for="Date">Date</label>
  <input  type="datetime-local" name="Date" ng-model="eventsNew.event.date">
  <label for="Number of slots">Number of Slots</label>
  <input  type="number" min="1" max="6" ng-model="eventsNew.event.slots_on_offer" name="Number of slots">
  <label for="Description">Description</label>
  <textarea name="Description" ng-model="eventsNew.event.description" rows="2" cols="40"></textarea>
  <br>
  <input class="event-submit" type="submit" value="Submit">
</form>
