<h1>{{ usersProfile.user.name }}'s Profile</h1>
<hr>

<!-- .................BANDS'S PROFILE...................... -->

<div ng-if="usersProfile.user.is_bar === 'no'">
  <div ng-if="usersProfile.user.num_of_pending_requests === 5" class="max-requests">
    <h5>
      You've reached you're maximum amount of pending requests.
    </h5>
  </div>
  <div class="columns seven">

    <div class="right-column">
      <img class="spotify-image" src="{{ usersProfile.spotifyInfo.images[1].url}}" width="200px">
    </div>
    <label>Genre:</label>
    <ul>
      <li>{{usersProfile.genre1}}</li>
      <li>{{usersProfile.genre2}}</li>
    </ul>
    <hr>
    <div class="left-column">
      <ul>
        <li>Number of Upcoming Events: {{usersProfile.user.my_accepted_requests.length }}</li>
        <h5 ng-if="usersProfile.user.my_accepted_requests.length > 0">Upcoming Events:</h5>
        <li class="with-bullet" ng-repeat="accepted in usersProfile.user.my_accepted_requests">
          {{accepted.bar_name}}
          {{accepted.event.date_string}}
        </li>

        <hr/>
        <li>
          Pending Requests:{{usersProfile.user.my_pending_requests.length}}
        </li>
        <li>
          Requests Remaining:{{5-usersProfile.user.my_pending_requests.length}}
        </li>
        <h6 ng-if="usersProfile.user.my_pending_requests.length > '0'">You are waiting to hear back from:</h6>
        <h6 ng-if="usersProfile.user.my_pending_requests.length === '0'">You have no pending requests</h6>
        <li class="with-bullet" ng-repeat="pending in usersProfile.user.my_pending_requests">
            <a ui-sref="show({id: pending.bar_id})">{{pending.bar_name}}</a>
            <button class="delete-request" ng-click="usersProfile.deleteRequest({id: pending.id})">X</button>
        </li>
        <hr/>

        <li class="with-bullet" ng-repeat="rejected in usersProfile.user.my_rejected_requests">
          {{rejected.bar_name}}
        </li>

        <div ng-if="usersProfile.user.my_rejected_requests.length === '1'">
          <h6>have declined your requests.</h6>
        </div>

        <div ng-if="usersProfile.user.my_rejected_requests.length > '0'">
          <h6>has declined your request.</h6>
        </div>
      </ul>

      <button type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
    </div>
  </div>

  <h5>Toggle between Spotify or Soundcloud tracks<h5>
  <div class="columns five right-side">
    <label class="label toggle">
      <input type="checkbox" class="toggle_input" />
      <div class="toggle-control">
        <div>
          <iframe id="spotifyWidget" frameborder="0" allowtransparency="true"></iframe>
          <div id="soundcloud" width="200px">
          </div>
        </div>
      </div>
    </label>
  </div>


</div>


<!-- ..................BAR'S PROFILE....................... -->

<div ng-if="usersProfile.user.is_bar === 'yes'">
  <div class="row">
    <button class="right" type="button" ui-sref="new({id: usersProfile.user.id})">
      Add a Time Slot
    </button>
  </div>

  <div class="six columns">
    <h3>Upcoming Events</h3>
    <div ng-repeat="event in usersProfile.user.events | orderBy: '-date':true" class="row venue-profile">
    <ul ng-if="event.is_expired === 'no'">
      <li>
        {{ event.date_string }} you have {{ event.accepted_requests.length }} artist<span ng-if="event.accepted_requests.length !== 1">'s</span> playing.
      </li>
      <li>Description:       {{ event.description }}</li>
      <li>Slots Remaining:   {{ event.slots_remaining }}</li>
      <li>Accepted Requests: {{ event.accepted_requests.length }}</li>
      <li>Rejected Requests: {{ event.rejected_requests.length }}</li>

      <li ng-if="event.pending_requests.length !== 0">Pending Requests from:  </li>
      <ul ng-repeat="pending in event.pending_requests">
        <li>
          <div class="requests">
            <div ng-if="pending.status === 'pending'">
              By Artist: <a ui-sref="show({id: pending.user_id })">{{ pending.band_name }}</a>
              <div class="venue-requests">
                <button type="button" class="accept" ng-click="usersProfile.acceptRequest(pending)">Accept</button>
                <button type="button" class="reject" ng-click="usersProfile.rejectRequest(pending)">Reject</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ul>
  </div>
  </div>
  <h4>Past Events</h4>
  <div class="past-events">
    <div class="past-event" ng-repeat="event in usersProfile.user.events">
      <ul ng-if="event.is_expired === 'yes'">
        <li>                   {{ event.date_string }}</li>
        <li>Slots remaining:   {{ event.slots_remaining }}</li>
        <li>Pending Requests:  {{ event.pending_requests.length }}</li>
        <li>Accepted Requests: {{ event.accepted_requests.length }}</li>
        <li>Rejected Requests: {{ event.rejected_requests.length }}</li>
      </ul>
    </div>
    <button class="delete-button" type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
  </div>

</div>
