<h1>{{ usersProfile.user.name }}'s Profile</h1>

<!-- .................BANDS'S PROFILE...................... -->


<div ng-if="usersProfile.user.is_bar === 'no'">
  <iframe id="spotifyWidget" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

  <img src="{{ usersProfile.spotifyInfo.images[1].url}}" width="200px">
  <label>Genre</label>
  <div>
    {{ usersProfile.spotifyInfo.genres[0]}}
  </div>

  <!-- <button type="button" ui-sref="requestsIndex({id: usersProfile.user.id})">See My Requests</button> -->

  <!-- the who: 67ea9eGLXYMsO2eYQRui3w -->

  <!-- {{ usersProfile.spotifyInfo }} -->

  <div>
    <ul>
      <li>Pending Requests:  {{ usersProfile.user.my_pending_requests.length }}</li>
      <li>Accepted Requests: {{ usersProfile.user.my_accepted_requests.length }}</li>
      <li>Rejected Requests: {{ usersProfile.user.my_rejected_requests.length }}</li>
    </ul>
  </div>

  <!-- <li>Upcoming Events: {{ usersProfile. events.number_of_pending_requests }}</li>
  <li ng-repeat="event in usersProfile.pending_requests">Upcoming Events: {{ event.pending_requests.event_id }}</li>
  <li>Past Events: {{ events.my_pending_requests.length }}</li> -->

</div>

<!-- ..................BAR'S PROFILE....................... -->

<div ng-if="usersProfile.user.is_bar === 'yes'">
  <hr>
  <button class="right" type="button" ui-sref="new({id: usersProfile.user.id})">Add a Time Slot</button>
  <hr>


  <h3>Upcoming Events</h3>
  <div ng-repeat="event in usersProfile.events | orderBy: '-date_string':true">
    <ul ng-if="event.is_expired === 'no'">
      <!-- {{ event.date }} -->
      <li>
        {{ event.date_string }} you have {{ event.accepted_requests.length }} artist's playing.
        <li>Description:     {{ event.description }}</li>
        <li>Slots Remaining: {{ event.slots_remaining }}</li>
      </li>
      <li>
        **********Accepted Requests: <!-- {{ event.name }} -->
      </li>
      <li>
        Rejected Requests: {{ event.rejected_requests.length }} </br>
        {{  }}
      </li>
      <li>Pending Requests from:  </li>
      <ul ng-repeat="pending in event.pending_requests">
        <li>
          By Artist: <a ui-sref="show({id: pending.user_id })">{{ pending.band_name }}</a>
          <button type="button" ng-click="usersProfile.acceptRequest(pending)">Accept</button>
          <button type="button" ng-click="usersProfile.rejectRequest(pending)">Reject</button>
        </li>
      </ul>
      <hr>
    </ul>
  </div>
  <!-- {{ event.number_of_pending_requests }} -->

  <div ng-repeat="event in usersProfile.user.events">
    <ul ng-if="event.is_expired === 'yes'">
      <h6>Past Events</h6>
      <li>Date:              {{ event.date }}</li>
      <li>Slots remaining:   {{ event.slots_remaining }}</li>
      <li>Pending Requests:  {{ event.pending_requests.length }}</li>
      <li>Accepted Requests: {{ event.accepted_requests.length }}</li>
      <li>Rejected Requests: {{ event.rejected_requests.length }}</li>
    </ul>
  </div>
</div>

<!-- <button type="button" ui-sref="edit({id: usersProfile.user.id})">Edit My Account</button> -->
<button type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
<hr>
