<h1>My Profile</h1>
<div>My name is {{ usersProfile.user.name }}</div>

<!-- .................BANDS'S PROFILE...................... -->


<div ng-if="usersProfile.user.is_bar === 'no'">
  <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

  <!-- <button type="button" ui-sref="requestsIndex({id: usersProfile.user.id})">See My Requests</button> -->

  <div>
    <ul>
      <li>Pending Requests:  {{ usersProfile.user.my_pending_requests.length }}</li>
      <li>Accepted Requests: {{ usersProfile.user.my_accepted_requests.length }}</li>
      <li>Rejected Requests: {{ usersProfile.user.my_rejected_requests.length }}</li>
    </ul>
  </div>

  <!-- <li>Upcoming Events: {{ usersProfile. events.number_of_pending_requests }}</li>
  <li ng-repeat="event in usersProfile.pending_requests">Upcoming Events: {{ event.pending_requests.event_id }}</li>
  <li>Past Events: {{ events.my_pending_requests.length }}</li> -->

</div>

<!-- ..................BAR'S PROFILE....................... -->

<div ng-if="usersProfile.user.is_bar === 'yes'">
  <button type="button" ui-sref="new({id: usersProfile.user.id})">Add a Time Slot</button>

  <hr>

  <h6>Upcoming Events</h6>
  <div ng-repeat="event in usersProfile.user.events">
    <ul ng-if="event.is_expired === 'no'">
      <li>Date:              {{ event.date }}</li>
      <li>Description:       {{ event.description }}</li>
      <li>Slots Remaining:   {{ event.slots_remaining }}</li>
      <li>Accepted Requests: {{ event.accepted_requests.length }}</li>
      <li>Rejected Requests: {{ event.rejected_requests.length }}</li>
      <div ng-repeat="event in usersProfile.events">
        <li>Pending Requests:  {{ event.number_of_pending_requests }}</li>
        <ul>
          <li ng-repeat="pending in event.pending_requests">
            Pending Artist: <a ui-sref="show({id: pending.user_id })">{{ pending.band_name }}</a>
            <button type="button">Accept</button>
            <button type="button">Reject</button>
          </li>
        </ul>
      </div>
      <hr>
    </ul>
  </div>

  <hr>
</div>

  <hr>
  <div ng-repeat="event in usersProfile.user.events">
    <ul ng-if="event.is_expired === 'yes'">
      <li>Date:              {{ event.date }}</li>
      <li>Slots remaining:    {{ event.slots_remaining }}</li>
      <li>Pending Requests:  {{ event.pending_requests.length }}</li>
      <li>Accepted Requests: {{ event.accepted_requests.length }}</li>
      <li>Rejected Requests: {{ event.rejected_requests.length }}</li>
    </ul>
    <hr>
  </div>
</div>

<button type="button" ui-sref="edit({id: usersProfile.user.id})">Edit My Account</button>
<button type="button" ng-click="usersProfile.delete({id: users.id})">Delete My Account</button>
