<!-- .................BANDS'S SHOW...................... -->
<div ng-if="usersShow.user.is_bar === 'no'">
<h3>{{ usersShow.user.name }}</h3>
<div class="columns seven band-left">
  <img class="spotify-image" src="{{ usersShow.spotifyInfo.images[1].url}}" width="200px">
  <h4>Genres</h4>
  <ul>
    <li><p>{{ usersShow.genre1 }}</p></li>
    <li><p>{{ usersShow.genre2 }}</p></li>
  </ul>
  <div class="requests">
    <ul>
      <!-- <li><h5>Pending Requests:  {{usersShow.user.my_pending_requests.length }}</h5></li> -->
      <li><h5>Accepted Requests: {{usersShow.user.my_accepted_requests.length }}</h5></li>
      <li><h5>Rejected Requests: {{usersShow.user.my_rejected_requests.length }}</h5></li>
    </ul>
  </div>
</div>

<iframe class="columns four right-side" id="spotifyWidget" width="300" height="380" frameborder="3" allowtransparency="true"></iframe>

<hr>
</div>

<!-- <li>Upcoming Events: {{ usersShow. events.number_of_pending_requests }}</li>
<li ng-repeat="event in usersShow.pending_requests">Upcoming Events: {{ event.pending_requests.event_id }}</li>
<li>Past Events: {{ events.my_pending_requests.length }}</li> -->
<!--
<div class="columns four right-side">
  <iframe id="spotifyWidget" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div> -->
<!-- <div>
  <label>Past Events</label>
  <ul>
    <li>{{ usersShow.user}}</li>
  </ul>
  pending requests: -->
  <!-- date of the event, artist requesting with link and accpet or reject button  -->


<!-- .................BAR'S SHOW...................... -->

<div ng-if="usersShow.user.is_bar === 'yes'">
  <div class="columns seven left-show">
    <h4>{{ usersShow.user.name}}</h4>
    <img ng-src="{{ usersShow.user.bar_image }}" width="100%"/>
    <ul>
      <li>Address: {{ usersShow.user.bar_location }}</li>
      <li>Contact Details: {{ usersShow.user.bar_telephone }}</li>
      <li>Description: <br> {{ usersShow.user.bar_description }}</li>
      <li>Venue Size: {{ usersShow.user.bar_size }}</li>
      <li>Web Link: <a href="{{ usersShow.user.website }}">{{ usersShow.user.website }}</a></li>
    </ul>
  </div>
  <!-- <div ng-if="usersShow.events.user.name === usersShow.user.name"> -->

  <div class="columns five">
    <ng-map center="{{usersShow.user.lat}},{{usersShow.user.lng}} " zoom="16">
      <marker position="{{usersShow.user.lat}},{{usersShow.user.lng}}" title="{{usersShow.user.name}}"></marker>
    </ng-map>
  </div>


  <div ng-repeat="event in usersShow.user.events">
    <div class="columns five right-show">
      <ul ng-if="event.is_expired === 'no'">
        <li><h5>{{ event.date_string }}</h5></li>
        <!-- <li ng-if=""><button ng-if="usersShow.checkRequests(event.id)"   ng-click="usersShow.sendRequest(event.id)">Request  Slot</button></li> -->
        <li ng-if="event.slots_remaining !== 0">
          Slots available: {{ event.slots_remaining }}
        </li>
        <li ng-if="event.slots_remaining !== 0">
          <button ng-if="usersShow.checkRequests(event.id)"   ng-click="usersShow.sendRequest(event.id)">Request  Slot</button>
          <button ng-if="usersShow.checkRequests(event.id) ===  false"   ng-click="usersShow.sendRequest(event.id)">Slot Requested</button>
        </li>
        <li ng-if="event.slots_remaining === 0">
          This date has been  fully booked
        </li>
      </ul>
    </div>
  </div>
</div>

  <!-- <div >
    Pending requests:
    date of the event, artist requesting with link and accpet or reject button
  </div> -->


</div>
