.left-show {
  // border-right: solid 2px #cccccc;
  padding: 40px;
  margin-top: -40px;
}
.right-show {
  text-align: right;
  margin-right: 30px;
  margin-top: 50px;
}

.requests{
  float: left;
}

.band-left {
  border-right: solid 2px #cccccc;
}
