.right-side {
  border-left: solid 2px #cccccc;
}

iframe {
  margin-left: 40px;
  margin-bottom: 40px;
  // border-bottom: 40px solid $background-color;
}

.spotify-image {
  float: left;
  border-right: 40px solid $background-color;
}

.delete {
  margin-top: 30px;
  float: right;
  margin-bottom: 30px;
}

.venue-profile {
  border-bottom: 2px solid #cccccc;
  padding: 10px;
  margin-left: 40px;
}

.venue-requests {
  float:right;
  border: 10px solid $background-color;
  margin-left: 20px;
  margin-top: -20px;
}
