body {
  background-color: $background-color;
  z-index:0;
  padding: 30px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // border: 3px solid red;
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: black;
}

 body a:hover {
  text-decoration: line-through;
  color: black;
}

// main {
//   border: 3px solid black;
//   min-height: 100%;
// }

// main {
//   position: absolute;
//
// }
//
// body.ng-leave {
//   // animation: borderIn 1s both linear;
//   // z-index: 9999;
// }

// main.ng-enter {
// 	animation: borderOut 2s both linear;
//   z-index: 8888;
// }

// main.ng-enter-active {
//   opacity: 0;
// }
//
// @keyframes borderIn {
//   0%    { border: 0; }
//   50% { border: solid black 1px; }
//   100%  { border: 0; }

@keyframes borderIn {

  25% { border: solid black 2px; }
  0% { border: solid black 5px; }
  75% { border: solid black 2px; }
  100%  { border: 0; }
}

// .left {
//   animation-name: slideLeft;
//   animation-iteration-count: once;
//   animation-timing-function: ease-out;
//   animation-duration: 15s;
// }
//
// .right {
//   animation-name: slideRight;
//   animation-iteration-count: once;
//   animation-timing-function: ease-out;
//   animation-duration: 15s;
// }
//
// @keyframes slideleft {
//   0%  { margin-left: 0; }
//   50% { margin-left: 200px }
//   100%  { margin-left: 300px; }
// }
//
// @keyframes slideRight {
//   0%  { margin-right: 0; }
//   100%  { margin-right: 300px; }
// }
