body {
  background-color: $background-color;
  z-index:0;
  padding: 30px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: black;
}

 body a:hover {
  text-decoration: line-through;
  color: black;
}

// main {
//   position: absolute;
//   width: 100%;
// }
//
// main.ng-leave {
//   animation: slideRight 10s both linear;
//   z-index: 9999;
// }

// main.ng-enter {
// 	animation: fadeIn 5s both linear;
//   z-index: 8888;
// }

// main.ng-enter-active {
//   opacity: 0;
// }

// @keyframes fadeIn {
//   0%    { opacity: 0; }
//   40%   { opacity: 0.2; }
//   60%   { opacity: 0.6; }
//   80%   { opacity: 0.8; }
//   100%  { opacity: 1; }
// }
// // @keyframes fadeOut {
// //   0%    { opacity: 1; }
// //   25%   { opacity: 0.8; }
// //   50%   { opacity: 0.2; }
// //   100%  { opacity: 0; }
// // }

.left {
  background-color: red;
  animation-name: slideLeft;
  animation-iteration-count: once;
  animation-timing-function: ease-out;
  animation-duration: 15s;
}

.right {
  background-color: red;
  animation-name: slideRight;
  animation-iteration-count: once;
  animation-timing-function: ease-out;
  animation-duration: 15s;
}

@keyframes slideleft {
  0%  { margin-left: 0; }
  50% { margin-left: 200px }
  100%  { margin-left: 300px; }
}

@keyframes slideRight {
  0%  { margin-right: 0; }
  100%  { margin-right: 300px; }
}
