// Import all of your scss files here
@import "header";
@import "variables";
@import "background";
@import "pages/register";
@import "pages/login";
@import "pages/usersIndex";
@import "pages/usersProfile";
@import "pages/usersShow";
@import "pages/eventsNew";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-page {
  padding: 30px;
}

button {
  border-radius: 0px;
}

button:hover {
  text-decoration: line-through;
}
